@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Source+Sans+Pro%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-7QQbmnYm5bTq_font-family: "Inter", sans-serif;
  --mixin-7QQbmnYm5bTq_font-size: 16px;
  --mixin-7QQbmnYm5bTq_font-weight: 400;
  --mixin-7QQbmnYm5bTq_font-style: normal;
  --mixin-7QQbmnYm5bTq_color: #535353;
  --mixin-7QQbmnYm5bTq_text-align: left;
  --mixin-7QQbmnYm5bTq_text-transform: none;
  --mixin-7QQbmnYm5bTq_line-height: 1.5;
  --mixin-7QQbmnYm5bTq_letter-spacing: normal;
  --mixin-7QQbmnYm5bTq_white-space: pre-wrap;
  --mixin-7QQbmnYm5bTq_user-select: text;
  --mixin-7QQbmnYm5bTq_text-decoration-line: none;
  --mixin-7QQbmnYm5bTq_text-overflow: clip;
  --mixin-zYokiibRIc6C_color: #000000;
  --mixin-zYokiibRIc6C_font-weight: 700;
  --mixin-zYokiibRIc6C_font-size: 64px;
  --mixin-zYokiibRIc6C_line-height: 1;
  --mixin-zYokiibRIc6C_letter-spacing: -1px;
  --mixin-zYokiibRIc6C_white-space: pre-wrap;
  --mixin-e9uFTpZyWMm2_color: #000000;
  --mixin-e9uFTpZyWMm2_font-size: 48px;
  --mixin-e9uFTpZyWMm2_font-weight: 700;
  --mixin-e9uFTpZyWMm2_letter-spacing: -0.5px;
  --mixin-e9uFTpZyWMm2_line-height: 1.1;
  --mixin-e9uFTpZyWMm2_white-space: pre-wrap;
  --mixin-5xaT6CIM_mRb_color: #0070f3;
  --mixin-5xaT6CIM_mRb_white-space: pre-wrap;
  --mixin-HSlnULCbM124_color: #000000;
  --mixin-HSlnULCbM124_font-size: 32px;
  --mixin-HSlnULCbM124_font-weight: 600;
  --mixin-HSlnULCbM124_line-height: 1.2;
  --mixin-HSlnULCbM124_white-space: pre-wrap;
  --mixin-4IiIVgw5TZuf_color: #000000;
  --mixin-4IiIVgw5TZuf_font-size: 24px;
  --mixin-4IiIVgw5TZuf_font-weight: 600;
  --mixin-4IiIVgw5TZuf_line-height: 1.3;
  --mixin-4IiIVgw5TZuf_white-space: pre-wrap;
  --mixin-7chJmfGISLt-_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7chJmfGISLt-_border-bottom-color: #dddddd;
  --mixin-7chJmfGISLt-_border-bottom-style: solid;
  --mixin-7chJmfGISLt-_border-bottom-width: 1px;
  --mixin-7chJmfGISLt-_border-left-color: #dddddd;
  --mixin-7chJmfGISLt-_border-left-style: solid;
  --mixin-7chJmfGISLt-_border-left-width: 1px;
  --mixin-7chJmfGISLt-_border-right-color: #dddddd;
  --mixin-7chJmfGISLt-_border-right-style: solid;
  --mixin-7chJmfGISLt-_border-right-width: 1px;
  --mixin-7chJmfGISLt-_border-top-color: #dddddd;
  --mixin-7chJmfGISLt-_border-top-style: solid;
  --mixin-7chJmfGISLt-_border-top-width: 1px;
  --mixin-7chJmfGISLt-_border-bottom-left-radius: 3px;
  --mixin-7chJmfGISLt-_border-bottom-right-radius: 3px;
  --mixin-7chJmfGISLt-_border-top-left-radius: 3px;
  --mixin-7chJmfGISLt-_border-top-right-radius: 3px;
  --mixin-7chJmfGISLt-_font-family: "Inconsolata";
  --mixin-7chJmfGISLt-_padding-bottom: 1px;
  --mixin-7chJmfGISLt-_padding-left: 4px;
  --mixin-7chJmfGISLt-_padding-right: 4px;
  --mixin-7chJmfGISLt-_padding-top: 1px;
  --mixin-7chJmfGISLt-_white-space: pre-wrap;
  --mixin-P8q-CWlN_wc__border-left-color: #dddddd;
  --mixin-P8q-CWlN_wc__border-left-style: solid;
  --mixin-P8q-CWlN_wc__border-left-width: 3px;
  --mixin-P8q-CWlN_wc__color: #888888;
  --mixin-P8q-CWlN_wc__padding-left: 10px;
  --mixin-P8q-CWlN_wc__white-space: pre-wrap;
  --mixin-aVSXtUBgbc5d_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-aVSXtUBgbc5d_border-bottom-color: #dddddd;
  --mixin-aVSXtUBgbc5d_border-bottom-style: solid;
  --mixin-aVSXtUBgbc5d_border-bottom-width: 1px;
  --mixin-aVSXtUBgbc5d_border-left-color: #dddddd;
  --mixin-aVSXtUBgbc5d_border-left-style: solid;
  --mixin-aVSXtUBgbc5d_border-left-width: 1px;
  --mixin-aVSXtUBgbc5d_border-right-color: #dddddd;
  --mixin-aVSXtUBgbc5d_border-right-style: solid;
  --mixin-aVSXtUBgbc5d_border-right-width: 1px;
  --mixin-aVSXtUBgbc5d_border-top-color: #dddddd;
  --mixin-aVSXtUBgbc5d_border-top-style: solid;
  --mixin-aVSXtUBgbc5d_border-top-width: 1px;
  --mixin-aVSXtUBgbc5d_border-bottom-left-radius: 3px;
  --mixin-aVSXtUBgbc5d_border-bottom-right-radius: 3px;
  --mixin-aVSXtUBgbc5d_border-top-left-radius: 3px;
  --mixin-aVSXtUBgbc5d_border-top-right-radius: 3px;
  --mixin-aVSXtUBgbc5d_font-family: "Inconsolata";
  --mixin-aVSXtUBgbc5d_padding-bottom: 3px;
  --mixin-aVSXtUBgbc5d_padding-left: 6px;
  --mixin-aVSXtUBgbc5d_padding-right: 6px;
  --mixin-aVSXtUBgbc5d_padding-top: 3px;
  --mixin-aVSXtUBgbc5d_white-space: pre-wrap;
  --mixin-y3P9EL3ql6K0_display: flex;
  --mixin-y3P9EL3ql6K0_flex-direction: column;
  --mixin-y3P9EL3ql6K0_align-items: stretch;
  --mixin-y3P9EL3ql6K0_justify-content: flex-start;
  --mixin-y3P9EL3ql6K0_list-style-position: outside;
  --mixin-y3P9EL3ql6K0_padding-left: 40px;
  --mixin-y3P9EL3ql6K0_position: relative;
  --mixin-y3P9EL3ql6K0_list-style-type: disc;
  --mixin-y3P9EL3ql6K0_white-space: pre-wrap;
  --mixin-LAy-Y_GKfu7n_display: flex;
  --mixin-LAy-Y_GKfu7n_flex-direction: column;
  --mixin-LAy-Y_GKfu7n_align-items: stretch;
  --mixin-LAy-Y_GKfu7n_justify-content: flex-start;
  --mixin-LAy-Y_GKfu7n_list-style-position: outside;
  --mixin-LAy-Y_GKfu7n_padding-left: 40px;
  --mixin-LAy-Y_GKfu7n_position: relative;
  --mixin-LAy-Y_GKfu7n_list-style-type: decimal;
  --mixin-LAy-Y_GKfu7n_white-space: pre-wrap;
  --mixin-0gKPPYFPsC7t_color: #000000;
  --mixin-0gKPPYFPsC7t_font-size: 20px;
  --mixin-0gKPPYFPsC7t_font-weight: 600;
  --mixin-0gKPPYFPsC7t_line-height: 1.5;
  --mixin-0gKPPYFPsC7t_white-space: pre-wrap;
  --mixin-95wTgAdVDVuW_color: #000000;
  --mixin-95wTgAdVDVuW_font-size: 16px;
  --mixin-95wTgAdVDVuW_font-weight: 600;
  --mixin-95wTgAdVDVuW_line-height: 1.5;
  --mixin-95wTgAdVDVuW_white-space: pre-wrap;
  --mixin-bUAWFes9Wy2w_color: #3291ff;
  --mixin-bUAWFes9Wy2w_white-space: pre-wrap;
  --mixin-jDy9jMF9BFG-_white-space: pre-wrap;
  --mixin-kllqxlnRHQJU_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-7QQbmnYm5bTq_font-family);
  font-size: var(--mixin-7QQbmnYm5bTq_font-size);
  font-weight: var(--mixin-7QQbmnYm5bTq_font-weight);
  font-style: var(--mixin-7QQbmnYm5bTq_font-style);
  color: var(--mixin-7QQbmnYm5bTq_color);
  text-align: var(--mixin-7QQbmnYm5bTq_text-align);
  text-transform: var(--mixin-7QQbmnYm5bTq_text-transform);
  line-height: var(--mixin-7QQbmnYm5bTq_line-height);
  letter-spacing: var(--mixin-7QQbmnYm5bTq_letter-spacing);
  white-space: var(--mixin-7QQbmnYm5bTq_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-zYokiibRIc6C_color);
  font-weight: var(--mixin-zYokiibRIc6C_font-weight);
  font-size: var(--mixin-zYokiibRIc6C_font-size);
  line-height: var(--mixin-zYokiibRIc6C_line-height);
  letter-spacing: var(--mixin-zYokiibRIc6C_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-e9uFTpZyWMm2_color);
  font-size: var(--mixin-e9uFTpZyWMm2_font-size);
  font-weight: var(--mixin-e9uFTpZyWMm2_font-weight);
  letter-spacing: var(--mixin-e9uFTpZyWMm2_letter-spacing);
  line-height: var(--mixin-e9uFTpZyWMm2_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-5xaT6CIM_mRb_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-HSlnULCbM124_color);
  font-size: var(--mixin-HSlnULCbM124_font-size);
  font-weight: var(--mixin-HSlnULCbM124_font-weight);
  line-height: var(--mixin-HSlnULCbM124_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-4IiIVgw5TZuf_color);
  font-size: var(--mixin-4IiIVgw5TZuf_font-size);
  font-weight: var(--mixin-4IiIVgw5TZuf_font-weight);
  line-height: var(--mixin-4IiIVgw5TZuf_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-7chJmfGISLt-_font-family);
  border-radius: var(--mixin-7chJmfGISLt-_border-top-left-radius)
    var(--mixin-7chJmfGISLt-_border-top-right-radius)
    var(--mixin-7chJmfGISLt-_border-bottom-right-radius)
    var(--mixin-7chJmfGISLt-_border-bottom-left-radius);
  padding: var(--mixin-7chJmfGISLt-_padding-top)
    var(--mixin-7chJmfGISLt-_padding-right)
    var(--mixin-7chJmfGISLt-_padding-bottom)
    var(--mixin-7chJmfGISLt-_padding-left);
  border-top: var(--mixin-7chJmfGISLt-_border-top-width)
    var(--mixin-7chJmfGISLt-_border-top-style)
    var(--mixin-7chJmfGISLt-_border-top-color);
  border-right: var(--mixin-7chJmfGISLt-_border-right-width)
    var(--mixin-7chJmfGISLt-_border-right-style)
    var(--mixin-7chJmfGISLt-_border-right-color);
  border-bottom: var(--mixin-7chJmfGISLt-_border-bottom-width)
    var(--mixin-7chJmfGISLt-_border-bottom-style)
    var(--mixin-7chJmfGISLt-_border-bottom-color);
  border-left: var(--mixin-7chJmfGISLt-_border-left-width)
    var(--mixin-7chJmfGISLt-_border-left-style)
    var(--mixin-7chJmfGISLt-_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-P8q-CWlN_wc__color);
  padding-left: var(--mixin-P8q-CWlN_wc__padding-left);
  border-left: var(--mixin-P8q-CWlN_wc__border-left-width)
    var(--mixin-P8q-CWlN_wc__border-left-style)
    var(--mixin-P8q-CWlN_wc__border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-aVSXtUBgbc5d_font-family);
  border-radius: var(--mixin-aVSXtUBgbc5d_border-top-left-radius)
    var(--mixin-aVSXtUBgbc5d_border-top-right-radius)
    var(--mixin-aVSXtUBgbc5d_border-bottom-right-radius)
    var(--mixin-aVSXtUBgbc5d_border-bottom-left-radius);
  padding: var(--mixin-aVSXtUBgbc5d_padding-top)
    var(--mixin-aVSXtUBgbc5d_padding-right)
    var(--mixin-aVSXtUBgbc5d_padding-bottom)
    var(--mixin-aVSXtUBgbc5d_padding-left);
  border-top: var(--mixin-aVSXtUBgbc5d_border-top-width)
    var(--mixin-aVSXtUBgbc5d_border-top-style)
    var(--mixin-aVSXtUBgbc5d_border-top-color);
  border-right: var(--mixin-aVSXtUBgbc5d_border-right-width)
    var(--mixin-aVSXtUBgbc5d_border-right-style)
    var(--mixin-aVSXtUBgbc5d_border-right-color);
  border-bottom: var(--mixin-aVSXtUBgbc5d_border-bottom-width)
    var(--mixin-aVSXtUBgbc5d_border-bottom-style)
    var(--mixin-aVSXtUBgbc5d_border-bottom-color);
  border-left: var(--mixin-aVSXtUBgbc5d_border-left-width)
    var(--mixin-aVSXtUBgbc5d_border-left-style)
    var(--mixin-aVSXtUBgbc5d_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-y3P9EL3ql6K0_display);
  flex-direction: var(--mixin-y3P9EL3ql6K0_flex-direction);
  align-items: var(--mixin-y3P9EL3ql6K0_align-items);
  justify-content: var(--mixin-y3P9EL3ql6K0_justify-content);
  list-style-position: var(--mixin-y3P9EL3ql6K0_list-style-position);
  padding-left: var(--mixin-y3P9EL3ql6K0_padding-left);
  position: var(--mixin-y3P9EL3ql6K0_position);
  list-style-type: var(--mixin-y3P9EL3ql6K0_list-style-type);
  flex-column-gap: var(--mixin-y3P9EL3ql6K0_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-LAy-Y_GKfu7n_display);
  flex-direction: var(--mixin-LAy-Y_GKfu7n_flex-direction);
  align-items: var(--mixin-LAy-Y_GKfu7n_align-items);
  justify-content: var(--mixin-LAy-Y_GKfu7n_justify-content);
  list-style-position: var(--mixin-LAy-Y_GKfu7n_list-style-position);
  padding-left: var(--mixin-LAy-Y_GKfu7n_padding-left);
  position: var(--mixin-LAy-Y_GKfu7n_position);
  list-style-type: var(--mixin-LAy-Y_GKfu7n_list-style-type);
  flex-column-gap: var(--mixin-LAy-Y_GKfu7n_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-0gKPPYFPsC7t_color);
  font-size: var(--mixin-0gKPPYFPsC7t_font-size);
  font-weight: var(--mixin-0gKPPYFPsC7t_font-weight);
  line-height: var(--mixin-0gKPPYFPsC7t_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-95wTgAdVDVuW_color);
  font-size: var(--mixin-95wTgAdVDVuW_font-size);
  font-weight: var(--mixin-95wTgAdVDVuW_font-weight);
  line-height: var(--mixin-95wTgAdVDVuW_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-bUAWFes9Wy2w_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
